/* Hero section */
.hero-image-section {
  height: 100vh;
  overflow: hidden;
}

.hero-image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

/* Overlay text */
.overlay-container {
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 999;
}

.overlay-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25ch;
  color: var(--primary-color);
  font: var(--font-cta);
  letter-spacing: 0.5rem;
  text-align: center;
}

/* About section */
.about-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-section-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-title {
  font: var(--font-heading);
  text-decoration: underline;
  text-underline-offset: 1.5rem;
  margin: 2rem 0 3rem;
}

/* About text content */
.about-section:nth-child(1) .about-text-content,
.about-section:nth-child(2) .about-text-content {
  font: var(--font-small);
  line-height: 2.5rem;
  padding: 2rem;
  width: 50%;
}

.about-section:nth-child(1) .about-text-content {
  background-color: var(--text-color);
  color: var(--primary-color);
  justify-self: flex-end;
}

.about-section:nth-child(2) .about-text-content {
  background-color: var(--accent-color-dark);
  color: var(--accent-color-light);
}

.about-section:nth-child(2) > .about-text-content {
  grid-column: 2 / 3;
  grid-row: 1;
}

/* Brand story section */
.brand-story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem;
  background-color: var(--secondary-color);
  color: var(--accent-color-dark);
}

.brand-story-title {
  font: var(--font-heading);
  text-decoration: underline;
  text-underline-offset: 1.5rem;
  margin-bottom: 3rem;
}

.brand-story-text {
  font: var(--font-small);
  letter-spacing: 0.15rem;
  text-align: center;
  line-height: 2.5rem;
}

/* === RESPONSIVE STYLES === */

/* Small Screens */
@media (min-width: 375px) and (max-width: 425px) {
  .overlay-text {
    width: 10ch;
  }

  .about-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-image-container {
    height: 300px;
  }

  .about-title {
    margin-top: 0;
    text-align: center;
    text-underline-offset: 1rem;
    margin-block: 0 1.5rem;
  }

  .about-section:nth-child(1) .about-text-content,
  .about-section:nth-child(2) .about-text-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .about-text-description {
    line-height: 1.5rem;
  }

  .brand-story-container {
    padding: 2rem 1rem;
  }

  .brand-story-title {
    text-underline-offset: 1rem;
    margin-block: 0 1.5rem;
  }

  .brand-story-text {
    letter-spacing: 0;
    line-height: 1.5rem;
    padding-inline: 1rem;
  }
}

@media (min-width: 426px) and (max-width: 600px) {
  .overlay-container {
    top: 47%;
  }

  .overlay-text {
    width: 35ch;
  }

  .about-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-image-container {
    height: 300px;
  }

  .about-title {
    margin-top: 0;
    text-align: center;
  }

  .about-section:nth-child(1) .about-text-content,
  .about-section:nth-child(2) .about-text-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .brand-story-container {
    padding: 2rem 1rem;
  }

  .brand-story-text {
    letter-spacing: 0.1rem;
    padding-inline: 2rem;
  }
}

/* Medium Screens */
@media (min-width: 601px) and (max-width: 768px) {
  .overlay-container {
    top: 47%;
  }

  .overlay-text {
    width: 35ch;
  }

  .about-section {
    display: flex;
    flex-direction: column;
  }

  .about-image-container {
    height: 400px;
  }

  .about-section:nth-child(1) .about-text-content,
  .about-section:nth-child(2) .about-text-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .about-title {
    margin-top: 0;
    text-align: center;
  }

  .brand-story-container {
    padding: 3rem;
  }
}

/* Large Screens */
.about-section:nth-child(1) .about-text-content,
.about-section:nth-child(2) .about-text-content {
  line-height: 1rem;
}

@media (min-width: 769px) and (max-width: 1440px) {
  .overlay-container {
    top: 47%;
  }

  .overlay-text {
    width: 30ch;
  }

  .about-section {
    display: flex;
    flex-direction: column;
  }

  .about-image-container {
    height: 500px;
  }

  .about-section:nth-child(1) .about-text-content,
  .about-section:nth-child(2) .about-text-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .about-title {
    margin-top: 0.1rem;
    text-align: center;
  }

  .brand-story-container {
    padding: 4rem;
  }
}

/* Extra Large Screens */
@media (min-width: 1441px) and (max-width: 1700px) {
  .overlay-container {
    top: 43%;
  }

  .about-section:nth-child(1) .about-text-content,
  .about-section:nth-child(2) .about-text-content {
    width: 60%;
  }
}
