/* Carousel container */
.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Carousel slides */
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 500ms opacity ease-in-out;
}

.slide[data-current-status='active'] {
  opacity: 1;
}

/* Image styles for single and multiple image carousels */
.multiple-images,
.single-image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

/* Carousel navigation buttons */
.carousel-btn {
  position: absolute;
  top: 37%;
  z-index: 1;
  background: none;
  border: none;
  color: var(--text-color);
  font: var(--font-carousel-btn);
  cursor: pointer;
  padding: 2rem;
  transition: var(--transition-fast);
}

/* Button positions */
.carousel-btn.prev {
  left: 2rem;
}

.carousel-btn.next {
  right: 2rem;
}

/* Button hover and focus effects */
.carousel-btn.next:hover,
.carousel-btn.next:focus {
  color: #817b7b;
  transform: translateX(10px) scale(1.1);
}

.carousel-btn.prev:hover,
.carousel-btn.prev:focus {
  color: #817b7b;
  transform: translateX(-10px) scale(1.1);
}

/* Color change modifier */
.carousel-btn.change-color:hover {
  color: var(--secondary-color);
}

.carousel-btn.change-color {
  color: var(--primary-color);
}

/* === RESPONSIVE STYLES === */

/* Hide carousel buttons on smaller screens */
@media (max-width: 768px) {
  .carousel-buttons-container {
    display: none;
  }
}

/* Adjust button position for different screen sizes */
@media (min-width: 769px) and (max-width: 1440px) {
  .carousel-btn {
    top: 43%;
  }
}

@media (min-width: 1441px) {
  .carousel-btn {
    top: 40%;
  }
}
