/* CTA (Call to Action ) container */
.cta-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

/* Learn more button - Primary style */
.learn-btn {
  position: relative;
  font: var(--font-button);
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 3px solid var(--text-color);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: var(--transition-slow);
}

/* Secondary button */
.secondary .learn-btn {
  color: var(--primary-color);
  background-color: var(--text-color);
  border: 3px solid var(--primary-color);
}

.learn-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 100%;
  width: 0;
  background-color: var(--secondary-color);
  transition: var(--transition-normal);
}

/* Primary button - custom hover effect */
.primary .learn-btn::after {
  background-color: var(--text-color);
}

.learn-btn:hover::after {
  width: 100%;
  left: 0;
  opacity: 0.4;
}

/* CTA headline variation */
.headline {
  color: var(--text-color);
  font: var(--font-cta);
  letter-spacing: 0.5rem;
  text-align: center;
}

.cta-about-headline {
  color: var(--primary-color);
}

/* === RESPONSIVE STYLES ==== */

/* Small Screens */
@media (min-width: 375px) and (max-width: 425px) {
  .headline {
    width: 30ch;
  }
}

@media (min-width: 426px) and (max-width: 1440px) {
  .headline {
    width: 27ch;
  }

  .cta-about-headline {
    width: 20ch;
  }
}

/* Adjust headline width for larger screens */
@media (min-width: 1441px) {
  .headline {
    width: 23ch;
  }

  .cta-about-headline {
    width: 15ch;
  }
}
