.cta-section {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-family: "Noto Serif", sans-serif;
}

.cta-section button {
  font: var(--font-button);
  padding: 0.5rem;
  background-color: transparent;
  color: var(--text-color);
  border: 3px solid var(--text-color);
  border-radius: 0.3rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--transition-slow);
  background-color: var(--primary-color);
  letter-spacing: 0.4rem;
  width: 210px;
}

.cta-secondary-class button {
  color: var(--primary-color);
  background-color: var(--text-color);
  border: 3px solid var(--primary-color);
}

.cta-section button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 100%;
  width: 0;
  background-color: var(--secondary-color);
  transition: var(--transition-normal);
}
.cta-section button:hover::after {
  width: 100%;
  left: 0;
  opacity: 0.4;
}

.cta-primary-class button::after {
  background-color: var(--text-color);
}

.cta-section p {
  width: 25ch;
  text-align: center;
  color: var(--text-color);
  letter-spacing: 0.5rem;
  font: var(--font-cta);
}

.cta-secondary-class p {
  color: var(--primary-color);
}
