.email-section-container {
  margin-bottom: 9rem;
  margin-top: 5rem;
  display: grid;
  margin-inline: 5rem;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
  max-height: 100%;
  max-width: 100%;
  padding: 2rem;
  color: var(--accent-color-dark);
  margin: 5rem 5rem;
  font: var(--font-title);
}

.contact-form> .form-field:nth-child(1) {
  grid-column-start: 1;
}

.contact-form> .form-field:nth-child(1),
.contact-form> .form-field:nth-child(2) {
  grid-column: span 3;
}

.contact-form> .form-field:nth-child(3),
.contact-form> .form-field:nth-child(4) {
  grid-column: span 6;
}

.submit-button-container {
  grid-column:span 6;
  display: flex;
  justify-content:center;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--accent-color-light);
  box-shadow: inset 1px 1px 1px var(--accent-color-dark);
  color: var(--accent-color-dark);
  font: var(--font-small);
}

.inquiry-input {
  height: 150px;
}

.inquiry-submit {
  font: var(--font-button);
  padding: 0.5rem 2rem;
  background-color: transparent;
  color: var(--accent-color-dark);
  border: 2px solid var(--accent-color-dark);
  border-radius: 0.3rem;
  cursor: pointer;
  position: relative;
  letter-spacing: 0.2rem;
}

.inquiry-submit::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 100%;
  width: 0;
  background-color: var(--secondary-color);
  transition: var(--transition-normal);
}

.inquiry-submit:hover::after {
  width: 100%;
  left: 0;
  opacity: 0.4;
}

.inquiry-submit::after {
  background-color:var(--secondary-color);
}

.input-label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.contact-form{
  margin: 5rem 5rem;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  max-width: 100%;
  color: var(--accent-color-dark);
  background-color:var(--secondary-color);
  border-radius:5rem;
}

.info-heading{
  font: var(--font-heading);
  letter-spacing: 0.2rem;
}

.info-text{
  font: var(--font-title);
  width: 60ch;
  text-align: center;
  letter-spacing: 0.15rem;
  line-height: 2rem;
}

