.footer {
  background-color: var(--text-color);
  color: var(--primary-color);
  text-align: center;
  padding: 1rem;
}

.quick-link {
  cursor: pointer;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem;
  position:relative;
}

.footer-wrapper::after{
  display: flex;
  justify-content: center;
  justify-self: center;
  content: "";
  position: absolute;
  width: 85%;
  height: 1px;
  bottom: 55px;
  background-color: var(--primary-color);
}

.footer-nav-heading, .brand-name {
  font: var(--font-subheading);
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer .bx {
  font-size: 1.3rem;
}

.brand-slogan, .quick-link
  {
  letter-spacing: 0.2rem;
  font: var(--font-title);
  font-weight: 300;
}

.copyright-info {
  grid-column-start: 1;
  grid-column: span 3;
}

.copyright-text {
  display: flex;
  margin-top: 3rem;
  justify-content:center;
  letter-spacing: 0.1rem;
  font: var(--font-small);
  gap: 0.5rem;
  align-items: center;
}

.copyright-info .bx {
  font: var(--font-heading);
  cursor: pointer;
  color: var(--primary-color);
}

.quick-link:hover {
  text-decoration: underline;
}

.social-media-icons-container a:hover,
.footer-nav ul li a:hover {
  color: var(--secondary-color);
}

.footer .social-icon-list {
  display: flex;
  flex-direction:column;
  gap: 0.5rem;
}
