.footer {
  background-color: var(--text-color);
  color: #ffffff;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer a {
  cursor: pointer;
}

.footer-content-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-block: 10px;
}

.footer-content-container > .social-media-content,
.footer-content {
  flex: 1;
  min-width: 200px;
  margin: 10px 20px;
}

.footer-content h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.footer-content p {
  font-size: 1rem;
  line-height: 1.6;
}

.footer-content ul {
  list-style-type: none;
  padding: 0;
}

.footer-content ul li {
  margin-bottom: 10px;
}

.footer-content ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-content ul li a:hover {
  text-decoration: underline;
}

.social-media-item a:hover,
.quick-links-list a:hover {
  color: var(--secondary-color);
}

.footer-item {
  background-color: #1a1a1a;
  padding: 5px;
  font-size: 0.9rem;
  margin-top: 20px;
}

.footer-item p {
  margin: 0;
}
