.footer {
  background-color: var(--text-color);
  color: var(--primary-color);
  text-align: center;
  padding: 1rem;
}

.footer a {
  cursor: pointer;
}

.footer-content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem;
}

.footer-content-container::before {
  display: flex;
  justify-content: center;
  justify-self: center;
  content: "";
  position: absolute;
  width: 85%;
  height: 1px;
  bottom: 65px;
  background-color: var(--primary-color);
}

.footer-content-container h3 {
  font: var(--font-subheading);
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer .bx {
  font-size: 1.2rem;
}

.footer-about-section p,
.footer a {
  letter-spacing: 0.2rem;
  font: var(--font-title);
  font-weight: 300;
}

.footer-about-section p {
  width: 35ch;
  justify-self: center;
}

.copyright-element {
  flex-direction: row;
  font: var(--font-small);
  letter-spacing: 0.1rem;
  justify-self: center;
}

.copyright-element p {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 3rem;
}

.copyright-element .bx {
  font: var(--font-heading);
  cursor: pointer;
  color: var(--primary-color);
}

.quick-link-nav ul li a:hover {
  text-decoration: underline;
}

.social-media-icons-container a:hover,
.quick-link-nav ul li a:hover {
  color: var(--secondary-color);
}
