/* Menu header styling, hover effect and active state*/
.menu-header {
  background-color: var(--accent-color-light);
  box-shadow:
    inset 2px 2px 4px rgba(73, 68, 68, 0.1),
    inset -2px -2px 4px rgba(244, 222, 203, 0.7);
  margin: 10rem 0 1rem 0;
  padding-block: 1.2rem;
}

.category-list {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.category-link {
  display: inline-block;
  font: var(--font-heading);
  letter-spacing: 0.1rem;
  cursor: pointer;
  color: var(--text-color);
  border-radius: 1rem;
  padding: 1rem;
  transition: var(--transition-normal) ease-in-out;
}

.category-link.active {
  background-color: var(--text-color);
  color: var(--primary-color);
}

/* Product container styling and animation */
.product-grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5rem;
  animation:
    fade-in 0.75s ease 0.2s,
    hide 0.2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.category-products {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  background-color: var(--accent-color-light);
}

/* Product card styling */
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  width: 300px;
  height: 300px;
  color: var(--text-color);
  gap: 0.8rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.product-image {
  height: 100%;
  width: 100%;
}

.product-name {
  font: var(--font-title);
}

.product-desc {
  font: var(--font-small);
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}

.product-price {
  font: var(--font-small);
  color: var(--accent-color-dark);
}

/* === RESPONSIVE STYLES === */

/* Small Screens */
@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.5rem;
  }

  .category-list {
    gap: 3rem;
  }

  .category-link {
    letter-spacing: 0.1rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
  }

  .menu-header {
    margin-top: 7rem;
  }

  .product-image {
    height: auto;
  }

  .product-card {
    width: 150px;
    margin-block: 0.5rem;
  }

  .product-desc {
    display: none;
  }

  .product-name {
    font: var(--font-title);
  }

  .category-products {
    padding: 0;
  }
}

/* Medium Screens */
@media (min-width: 601px) and (max-width: 768px) {
  .product-grid {
    gap: 1rem;
  }

  .category-list {
    gap: 5rem;
  }

  .category-link {
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .menu-header {
    margin-top: 7rem;
  }

  .product-card {
    width: 250px;
  }
}

/* Large Screens */
@media (min-width: 769px) and (max-width: 1024px) {
  .product-grid {
    gap: 1rem;
  }

  .category-link {
    border-radius: 0.5rem;
  }

  .product-card {
    width: 250px;
  }
}
