/* Main navigation styling */
.header {
  position: absolute;
  top: 4%;
  z-index: 999;
  width: 100%;
  color: var(--text-color);
}

/* Navigation styling, hover effect, and active state*/
.nav-list {
  position: absolute;
  left: 50%;
  display: flex;
  gap: 10rem;
  transform: translateX(-50%);
}

.nav-link {
  font: var(--font-nav);
  cursor: pointer;
  position: relative;
  padding: 0.5rem;
  display: inline-block;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 2px;
  border-radius: 5rem;
  width: 0;
  background-color: var(--text-color);
  transition: var(--transition-normal);
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

.nav-link.active::after {
  width: 100%;
  left: 0;
  background-color: var(--text-color);
}

/* Updates navigation color based on page and carousel image */
.header.change-color .nav-link:hover::after {
  background-color: var(--primary-color);
  width: 100%;
  left: 0;
}

.header.change-color {
  color: var(--primary-color);
}

.header.change-color .nav-link.active::after {
  width: 100%;
  left: 0;
  background-color: var(--primary-color);
}

/* === RESPONSIVE STYLES === */

/* Small Screens */
@media (max-width: 600px) {
  .nav-list {
    gap: 2rem;
  }
}

/* Medium Screens */
@media (min-width: 601px) and (max-width: 768px) {
  .nav-link {
    padding: 0;
  }

  .nav-list {
    gap: 3rem;
  }
}

/* Large Screens */
@media (min-width: 769px) and (max-width: 1204px) {
  .nav-list {
    gap: 5rem;
  }
}
