.header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items:center;
  justify-content:flex-end;
  color: var(--text-color);
  top: 4rem;
  padding-inline: 3rem;
  gap: 28rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.nav-link {
  background-color: transparent;
  font: var(--font-nav);
  transition: var(--transition-slow);
  cursor: pointer;
  position: relative;
  padding: 0.5rem;
  display: inline-block;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 2px;
  border-radius: 5rem;
  width: 0;
  background-color: var(--text-color);
  transition: var(--transition-normal);
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

.header.change-color .nav-link:hover::after {
  background-color: var(--primary-color);
  width: 100%;
  left: 0;
}

.header.change-color {
  color: var(--primary-color);
}

.nav-link.active::after {
  width:100%;
  left: 0;
  background-color: var(--text-color);
}

.header.change-color .nav-link.active::after {
  width: 100%;
  left: 0;
  background-color: var(--primary-color);
}

.utility-wrapper {
  display: flex;
  gap:2rem;
  cursor: pointer;
}

.utility-icon {
  height: 24px;
  width: 24px;
}

.logo-wrapper{
  position: absolute;
  left:20%;
  top:-70%;
}

.logo-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.logo-link svg {
  transform: scale(1.3);
}

